.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  letter-spacing: 2px;
  font-size: 1.5em;
  padding: 0 30px;
  font-weight: bold;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 80px;
}


button{
  cursor: pointer;
  border-radius: 50px;
  background-color: black;
  padding: 5px 30px;
  margin: 10px;

  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

button:hover{
  opacity: 0.8;
  border: 2px solid white;
}