.App {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 1.3em;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .App {
        font-size: 1em;
    }
}